################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessBeast.Models/bin/Debug/netcoreapp2.2
